<div>
    <!-- The code that represents a node. This code is reused when building the tree. -->
    <script type="text/ng-template" id="items_renderer.html">
        <!-- If relevant to the type, the top part of the node decoration -->
        <div id="item-{{item.id }}" ng-class="currClassName+'-top';">&nbsp;</div>
        <!-- The tree item -->
        <!-- Set class after node type decoration -->
        <div ng-class="currClassName+'-item';">
            <div ng-init="tree.setItemUi(item, this);">

                <div ng-style="{'background-color' : item == tree.selectedItem ? '#dddddd' : 'none'}" style="display: block;"
                     ui-tree-handle>
                    <a ng-hide="(item.allowedChildTypes.length > 0) && (!item.children) || (item.children.length > 0) "
                       data-nodrag ng-click="nodeManager.onAsyncToggleChildren(this, item);">
                    </a>
                    <!-- The expand/collapse button -->

                    <a ng-show="(expanderPosition =='left') && ((item.allowedChildTypes.length > 0) && (!item.children) || (item.children.length > 0)) "
                       data-nodrag ng-click="tree.onAsyncToggleChildren(this, item);">
                            <span class="fa"
                                  ng-class="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}"></span></a>

                    <!-- Use ng-class and select icon from setting somewhere -->
                    <span ng-class="nodeManager.getIconClass(item.type)"></span>

                    <!-- The file pointed to in $scope.itemRenderer -->
                    <ng-include ng-click="nodeManager.onSelectNode(item);" src="itemRenderer"></ng-include>

                    <!-- The delete button -->
                    <div data-nodrag class="right_item">

                        <!-- The expand/collapse button if on the right -->
                        <a ng-show="(expanderPosition =='right') && ((item.allowedChildTypes.length > 0) && (!item.children) || (item.children.length > 0)) "
                           data-nodrag ng-click="tree.onAsyncToggleChildren(this, item);">
                                <span class="fa" ng-class="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}"></span></a>
                        <span ng-show="item.ui.showAddBars" title="Delete" class="delete_node glyphicon glyphicon-remove" ng-show="item.ui.showAddBars"
                         ng-click="tree.deleteNode(this, item.id);" style=""></span>
                        <span ng-hide="(expanderPosition =='left') || (item.ui.showAddBars)">&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="insert_node add-bar-show-hide">
                <div title="Add a sibling" style="display:inline; float : left;width:auto;"
                     ng-show="item.ui.showAddBars && (item.parentItem.allowedChildTypes.length > 0) && (item.id !== newNodeId)"
                     ng-click="item.ui.downAddSiblingAfter=!item.ui.downAddSiblingAfter;item.ui.downAddChildAfter=!item.ui.downAddSiblingAfter">
                    <span class="caret add-bar-show-hide insert_node_text"></span>
                    <span class="add-bar-show-hide insert_node_text">&nbsp;Add a {{item.parentItem.ui.strAllowedChildTypes}}.</span>

                </div>
                <div title="Add a child" style="display:inline; float : right;width:auto;"
                     ng-show="item.ui.showAddBars && (item.allowedChildTypes.length > 0) && (item.id !== newNodeId)"
                     ng-click="item.ui.downAddChildAfter=!item.ui.downAddChildAfter;item.ui.downAddSiblingAfter=!item.ui.downAddChildAfter">
                    <span class="add-bar-show-hide insert_node_text">&nbsp;Add a child {{item.ui.strAllowedChildTypes}}.</span>
                    <span class="caret add-bar-show-hide insert_node_text"></span>
                </div>
            </div>


            <div ng-mouseleave="item.ui.downAddChildAfter=false"
                 ng-show="item.ui.downAddChildAfter"
                 role="menu">
                <a ng-repeat='currschemaRef in item.allowedChildTypes'
                   ng-click="tree.addNode(this, item, true, currschemaRef);" class="list-group-item" style="text-align: right">
                     {{tree.schemas[currschemaRef].title}} <span class="glyphicon glyphicon-triangle-right"></span>
                </a>
            </div>

            <div ng-mouseleave="item.ui.downAddSiblingAfter=false"
                 ng-show="item.ui.downAddSiblingAfter"
                 class="list-group" role="menu">
                <a ng-repeat='currschemaRef in item.parentItem.allowedChildTypes'
                   ng-click="tree.addNode(this, item, false, currschemaRef);" class="list-group-item" style="text-align: left">
                   <span class="glyphicon glyphicon-triangle-bottom"></span> {{tree.schemas[currschemaRef].title}}
                </a>
            </div>


            <!-- Child nodes, pass on the current item as parent item, -->
            <ol id="indenter" ng-class="treeListClass" ui-tree-nodes="options" ng-model="item.children" ng-class="currClassName+'-indent';"
                ng-hide="collapsed">
                <!-- Create child nodes, recursively include this items' code -->
                <!-- ng-mouseover: Do not let parent trigger mouseover, show add bars, hide parents bars -->
                <!-- ng-mouseleave: Hide add bars -->
                <li ng-repeat="item in item.children"
                    ui-tree-node ng-include="'items_renderer.html'" data-collapsed="!item.expanded"
                    ng-init="currClassName = nodeManager.getClassFromItem(item); item.ui = {}; item.ui.showAddBars = false;"
                    ng-right-click="$event.stopPropagation();item.ui.showAddBars=true;item.parentItem.ui.showAddBars=false; item.parentItem.ui.downAdd=false;"
                    ng-mouseleave="item.ui.showAddBars=false; item.ui.downAdd=false; ">
                </li>
            </ol>

        </div>
        <!-- If relevant to the type, the bottom part of the node decoration -->
        <div ng-class="currClassName+'-bottom';">&nbsp;</div>

    </script>

    <!-- The root of the tree -->
    <div ui-tree="treeOptions"  id="tree-root" data-drag-delay="200">
        <ol ui-tree-nodes=""  ng-class="treeListClass" ng-model="tree.children" >
            <!-- Create the top nodes -->
            <!-- ng-mouseleave: Hide add bars -->
            <li ng-repeat="item in tree.children"
                ui-tree-node ng-include="'items_renderer.html'" data-collapsed="!item.expanded"
                ng-init="currClassName = nodeManager.getClassFromItem(item); item.ui = {}; item.ui.showAddBars = false;"
                ng-right-click="item.ui.showAddBars=true;"
                ng-mouseleave="item.ui.showAddBars=false; item.ui.downAdd=false;">
            </li>
        </ol>
    </div>


    <div ng-show="false" id="schemaTreeRemoveDialog" title="Remove a node">
      <p>Are you sure you want to remove this node?</p>
    </div>
</div>