<h3>About</h3>

This is the Optimal BPM busines process management system.


<h3>Broker environment</h3>
<div ng-repeat="(key, value) in broker_environment">
    <b>    {{key.toUpperCase()}}</b>
    <div ng-init="datatype=get_datatype(value)">
        <div ng-switch on="datatype">
            <div ng-switch-when="dict">
                <div ng-repeat="(sub_key, sub_value) in value">
                    <b>{{sub_key}}</b> : {{sub_value}}
                </div>

            </div>
            <div ng-switch-when="array">
                <div ng-repeat="sub_value in value">
                    {{sub_value}}
                </div>
            </div>
            <div ng-switch-default>
                {{value}}
            </div>
        </div>
        <br />
    </div>
</div>