<div class="local_margins" ui-layout options="{ flow : 'column' }">
    <div ui-layout-container class="layout_tree" size="25%" min-size="20%">
        <h3 class="nodes-headings">Node tree</h3>
        <schema-tree
            item-renderer='views/nodes/node_renderer.html'
            new-node-object-id= "000000010000010001e64bff"
            node-manager="nodeManager"
            expander-position="left"
            tree-options="treeOptions">
        </schema-tree>

    </div>
    <div ui-layout-container class="layout_edit" size="50%" min-size="40%">
        <h3 class="nodes-headings">Edit</h3>
        <!-- The schema editor, maps to the selected_* $scope variables in the controller -->
        <form name="ngform"
              sf-model="selected_data"
              sf-form="selected_form"
              sf-schema="selected_schema"
              sf-options=""
              ng-submit="nodeManager.doSubmit(selected_data)"></form>

    </div>

    <div ui-layout-container class="layout_history" size="25%" min-size="20%">
        <h3 class="nodes-headings">History</h3>
        <div ng-model="history" ng-repeat="historyItem in nodeManager.history">
            <b>Occurred when:</b> {{historyItem.occurredWhen}}<br/>
            <b>Id:</b> {{ historyItem._id }}<br/>
            <b>User_id:</b> {{historyItem.user_id}}<br/>
            <div ng-repeat="(key, value)  in historyItem.event">
                <b>{{key}}</b>: {{value}}<br />
            </div>
            <br />
            -------------------------------
        </div>

    </div>


</div>